
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/Content/playlist.css"/>
<h2>Index</h2>

<script type="text/javascript">
    document.body.style.backgroundImage = "url('../Content/img/records1.jpg')";
</script>