@{
    ViewBag.Title = "Home Page";
}


<form class="search" role="search" data-bind="submit: search">
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Search" data-bind="value: searchText">
    </div>
</form>

<div class="playlist">
    <table class="table table-hover" id="songList">
        <thead>
            <tr><th>Name</th><th>Artist</th><th>Album</th><th>Length</th></tr>
        </thead>
        <tbody data-bind="foreach: songs">
            <tr data-bind="value: FilePath, click: selectSong">
                <td data-bind="text: Name"></td>
                <td data-bind="text: Artist"></td>
                <td data-bind="text: Album"></td>
                <td data-bind="text: Length"></td>

            </tr>
        </tbody>
    </table>
</div>
<script type="text/javascript">
    document.body.style.backgroundImage = "url('../Content/img/home.jpg')";
</script>
    