body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-size: 1366px 768px;
    background-repeat: no-repeat;
}
footer
{
   position:fixed;
   left:0px;
   bottom:0px;
   height:50px;
   width:100%;
   background:transparent;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.background{
    position:fixed;
    width:1366px;
    height:768px;
}
.login
{
    color:#eee;
    /*background:#222;
    opacity:0.8;*/

}
h2
{
    color:#eee;
}
#loginForm
{
    border:0px;
}
#loginForm .btn{
    width:50%;
}
#loginForm p > a{
    color:#eee;
    text-decoration:underline;
}
#loginForm hr{
    width:100%;
}
.navbar
{
    background:transparent;
    border:0px;
    text-transform:uppercase;
    
}
.navbar-nav li > a{
    color:#ddd !important;
    opacity:1;
    font-weight:500;
    font-size:18px;
    letter-spacing:2px;
}
.navbar-nav li > a:hover
{
    color:#fff !important;
    transform:scale(1.1);
    transition:0.25s;
}
.search
{
    width:50%;
    margin-top:15px;
}
.search input[type=text]
{
    width:50%;
    background-color:transparent;
    color:#eee;
    padding:5px;
}
.songList
{
    /*border: 1px solid white;*/
    border-radius:10px;
    background:transparent;
    overflow:auto;
    display:table;
    padding:10px;
    width:90%;
    margin-left:5%;
}
.song
{
    width:120px;
    max-width:120px;
    height:100px;
    background:#ded;
    border:0px;
    border-radius:6px;
    margin:5px;
    padding:5px;
    display:block;
    float:left;
    overflow:hidden;    
   
}
.song .glyphicon-play
{
    padding:4px;
    transform:scale(2);
}
.song p{
    color:#333;
    text-align:center;
    padding:3px;

}
.blur {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

/*** Table Styles **/
.playlist table{
    background:#fff;
    border-radius:5px;
}
.playlist table > thead
{
    background:#333;
    color:#bbb;
}
.playlist table > tbody > tr:nth-child(2n+1){
    background:#666;
    color:#fff;
}
.playlist table > tbody > tr:nth-child(2n+1):hover{
    background:#666;
    color:#333;
}
.playlist table > tbody > tr:last-child hover{
    border-radius: 5px !important;
}
.playlist table > tbody > tr
{
    cursor:pointer;
    cursor:hand;
}

/*** PLAYER ***/
.player-back{
    width:100%;
    height:auto;
    position:fixed;
    left:0px;
    bottom:0px;
    z-index:0;
    background:#fff;
    opacity:0.4;
    min-height:60px;
}
.player{
    opacity:1;
    z-index:2;
    width:100%;
    min-height:60px;
    height:auto;
    background: transparent;
    display:block;
    float:left;
}
.glyphicon
{
    margin:5px;
    margin-top:15px;
    transform:scale(3);
    text-align:center;
    filter:unset;
    padding:5px;
}
.glyphicon:active
{
    transition:0.15s;
    transform: scale(4);
    color:#fff;
}
.volume-icons
{
    display:block;
    float:left;
    width:33%;
}
.volume-icons .glyphicon
{
    margin-left:20px;
}
.volume-icons > input[type=range]
{
    color:#333;
    padding:5px;
    width:200px;
    height:20px;
    margin-top:15px;
}
.main-controlls
{
    display:block;
    float:left;
    width:33%;
}
.songName{
    display:block;
    float:left;
    width:33%;
}
.songBar
{
    z-index:3;
    margin-bottom:50px;
    width:100%;
    height:12px;
    background:#888;
    display:block;
    float:left;
}
.songBar span
{
    width:25px;
    height:25px;
    border:1px solid white;
    border-radius:50%;
    background:#333;
    display:block;
    float:left;
    top:-10px !important;
}
.songDetails h3, p{
    display:inline-block;
}
.songDetails p{
    font-size:20px;
    color:#333;
    opacity:1;
    z-index:3;
}
#volumeSlider
{
    margin-left:5px;
    background:#333;
    display:inline-block;
    width:30%;
    min-width:66px;
    height:8px;
}
#volumeSlider .ui-slider-handle
{
    border-radius:50%;
    border:2px solid #333;
}
#songProgress{
    background:#333;
    border-radius:0px;
    border:0px;
}
#songProgress .ui-slider-handle {
    height:25px;
    width:25px;
    border-radius:50%;
    border:2px solid #333;
}